@font-face {
    font-family: 'Calibre';
    src: url('../font/calibre-light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Calibre';
    src: url('../font/calibre-medium.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Calibre';
    src: url('../font/calibre-bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Calibre';
    src: url('../font/calibre-black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Calibre';
    src: url('../font/calibre-regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
