{{ define "header"}} {{ partial "header" .}} {{end}}

{{ define "main"}}
<div id="main">
  <div id="hero" class="wrap">
    <h1>{{.Title }}</h1>
      <p>{{.Params.description}}</p>
  </div>

  <section id="activities">
    <div class="wrapper">
      <div class="page-content">
        <a download="Swift Fit Events Activities" href="{{ "/img/SFE_onepager.png" | relURL }}" title="Swift Fit Events Activities">
          <img alt="Swift Fit Events Activities" src="{{ "/img/SFE_onepager.png" | relURL }}" height="100%" width="100%">
        </a>
        <div class="row align-center">
          <div class="col col-10">
            <h2>Run / Walk</h2>
            <h3>Guided Walk / Run Tours</h3>
            <div class="row gutters">
              <div class="col col-8">
                <p>Guided tours of Austin allow participants to exercise and explore in the capitol city. The tours break down into small groups that are personable, informational and flexible. Different routes and themes of tours that are offered include: Brewery, Historic, Music, Haunted/Bats, University.  The tours move at a casual pace that allows for photo stops and conversation.</p>
                <ul>
                  <li>Location: Begins at hotel/conference venue and tours cover different parts of Downtown Austin</li>
                  <li>Duration: 45-60 min</li>
                  <li>Equipment: None during the day/ Running lights at night</li>
                </ul>
              </div>
              <div class="col col-4">
                <img alt="Swift Fit Events Guided Walk Run Tours" height="100%" src="{{ "/img/catalog-1.png" | relURL }}" width="100%">
              </div>
            </div>
            <h3>5k Fun Run</h3>
            <div class="row">
              <div class="col col-8">
                <p>A casual and inclusive 5k fun run in which Swift Fit manages course creation, signage, staffing, permitting, lead and trail runners, insurance/waivers and an emcee. This is meant to match all fitness levels and is an event that works seamlessly with any clients who wanted to add a 5k run/walk to their agenda.</p>
                <ul>
                  <li>Location: Begins at hotel/conference venue or Trinity and Cesar Chavez and takes place on Lady Bird Lake Trail</li>
                  <li>Duration: 45-90 min</li>
                  <li>Equipment: Course creation, signage, staffing, permitting, lead and trail runners, insurance/waivers and an emcee</li>
                  <li>Enhance: Photos, start/finish line, truss, hydration, EMT, awards/medals, course maps, shirts, tracking chips</li>
                </ul>
              </div>
              <div class="col col-4">
                <img alt="Swift Fit Events 5k Fun Run" height="100%" src="{{ "/img/catalog-2.png" | relURL }}" width="100%">
              </div>
            </div>
            <h3>Downtown Timed Run</h3>
            <div class="row gutters">
              <div class="col col-8">
                <p>This timed run allows runner’s times to be tracked via RFID chip or sports clock.  The timed run has a few more bells & whistles as far as amenities and also has the option of adding: Photos, start/finish line, truss, hydration, EMT, awards/medals, course maps, shirts, tracking chips. This option is a level up from the fun run in terms of production.</p>
                <ul>
                  <li>Location: Begins at hotel/conference venue and takes place on Lady Bird Lake Trail</li>
                  <li>Duration: 45-75 min</li>
                  <li>Equipment: Course creation, signage, staffing, permitting, lead and trail runners, insurance/waivers and an emcee</li>
                  <li>Enhance: Photos, start/finish line, truss, hydration, EMT, awards/medals, course maps, shirts, tracking chips</li>
                </ul>
              </div>
                <div class="col col-4">
                  <img alt="Swift Fit Events Downtown Timed Run" height="100%" src="{{ "/img/catalog-3.png" | relURL }}" width="100%">
                </div>
              </div>
            <h2>Group Activities</h2>
            <h3>Yoga</h3>
            <div class="row gutters">
              <div class="col col-8">
                <p>In this all levels class, each student will learn proper alignment and the health benefits of the yoga as we move through our practice.  No matter what physical ability, the instructor will provide adjustments and support for all bodies and any injuries one may have. This class will leave you feeling centered, calm, and clear.</p>
                <ul>
                  <li>Location: Hotel/conference venue or a green space/terrace if weather permits</li>
                  <li>Duration: 30/60 min</li>
                  <li>Equipment: yoga mats, blocks and straps</li>
                </ul>
              </div>
              <div class="col col-4">
                <img alt="Swift Fit Events Yoga" height="100%" src="{{ "/img/catalog-4.png" | relURL }}" width="100%">
              </div>
            </div>
            <h3>Kickboxing</h3>
            <div class="row gutters">
              <div class="col col-8">
                <p>It’s time to work on that jab, cross, hook combo with a  45 minute beat based Fitness Kickboxing class. Shadowboxing and body weight exercises timed to the tempo of the hottest music will guarantee you a killer workout, all while learning a new skill set. Leave feeling more powerful and ready to take on the day!</p>
                <ul>
                  <li>Location: Hotel/conference venue - Green space or terrace if weather permits</li>
                  <li>Duration: 30/60 min</li>
                  <li>Equipment: None</li>
                </ul>
              </div>
              <div class="col col-4">
                <img alt="Swift Fit Events Kickboxing" height="100%" src="{{ "/img/catalog-5.png" | relURL }}" width="100%">
              </div>
            </div>
            <h3>Bootcamp</h3>
            <div class="row gutters">
              <div class="col col-8">
                <p>Dynamic, fun and challenging workouts led by amazing trainers who inspire you to discover your best self. Improve muscular strength and power, while also challenging your body's ability to create speed, quickness and acceleration in the midst of dynamic movements. Endurance training keeps your heart, lungs and circulatory system healthy while also improving your overall fitness.</p>
                <ul>
                  <li>Location: Hotel/conference venue or a green space/terrace if weather permits</li>
                  <li>Duration: 30/60 min</li>
                  <li>Equipment: Mats and barbells</li>
                </ul>
              </div>
              <div class="col col-4">
                <img alt="Swift Fit Events Bootcamp" height="100%" src="{{ "/img/catalog-6.png" | relURL }}" width="100%">
              </div>
            </div>
            <h3>Dance Fit</h3>
            <div class="row gutters">
              <div class="col col-8">
                <p>The class is a high energy cardio group workout that is low-impact and fun. Dance fit blends self-empowerment, humor, and movement into one big dance party. The purpose of this class is to teach both non-dancers and dancers to let loose and move, even if you feel silly doing it.</p>
                <ul>
                  <li>Location: Hotel/conference venue or a green space/terrace if weather permits</li>
                  <li>Duration: 30/60 min</li>
                  <li>Equipment: None</li>
                </ul>
              </div>
              <div class="col col-4">
                <img alt="Swift Fit Events Dance Fit" height="100%" src="{{ "/img/catalog-7.png" | relURL }}" width="100%">
              </div>
            </div>
            <h3>Biking</h3>
            <div class="row gutters">
              <div class="col col-8">
                <p>Austin is a bike-friendly city that has biking trails which traverse busy metro areas and Austin parks alike.  Our biking activities can range from casual morning bike rides around the lake to brewery bike tours. Groups will be kept small and sorted according to experience to ensure safety.</p>
                <ul>
                  <li>Location: Begins at hotel/conference venue and tours will cover different parts of Downtown Austin</li>
                  <li>Duration: 60/90 min</li>
                  <li>Equipment: Bikes, helmets, locks, tubes and repair kit</li>
                  <li>Enhance: Add food or brewery stops into tour</li>
                </ul>
              </div>
              <div class="col col-4">
                <img alt="Swift Fit Events Biking" height="100%" src="{{ "/img/catalog-8.png" | relURL }}" width="100%">
              </div>
            </div>
            <h3>Rowing</h3>
            <div class="row gutters">
              <div class="col col-8">
                <p>From high level athletes to someone who has never worked out a day in their life, our rowing workouts will challenge you. We take pride in teaching you correct technique from day one letting the challenge to your fitness develop with the technique, to avoid injury. The class is a low-impact functional fitness class that has a high calorie burn but allows for all fitness levels to enjoy.</p>
                <ul>
                  <li>Location: Ro Fitness</li>
                  <li>Duration: 45/60 min</li>
                  <li>Equipment: Rowing Machines</li>
                </ul>
              </div>
              <div class="col col-4">
                <img alt="Swift Fit Events Rowing" height="100%" src="{{ "/img/catalog-9.png" | relURL }}" width="100%">
              </div>
            </div>
            <h3>SUPing</h3>
            <div class="row gutters">
              <div class="col col-8">
                <p>Standup paddle boarding offers participants a light workout on the water with the opportunity to explore the city from Lady Bird Lake.  SUP tours are available for those looking to learn about the city and SUP yoga is offered for yogis looking to practice in a unique setting.  Sunrise and sunset activities are encouraged as they provide the most aesthetically pleasing backdrops to the city.  SUP boards fit one person per board.</p>
                <ul>
                  <li>Location: Begins at hotel/conference venue but activity takes place in Lady Bird Lake</li>
                  <li>Duration: 60/90 min</li>
                  <li>Equipment: SUP Boards, Paddles, Life Jackets</li>
                  <li>Enhance: SUP Yoga</li>
                </ul>
              </div>
              <div class="col col-4">
                <img alt="Swift Fit Events SUP Standup paddle boarding" height="100%" src="{{ "/img/catalog-10.png" | relURL }}" width="100%">
              </div>
            </div>
            <h3>Kayaking</h3>
            <div class="row gutters">
              <div class="col col-8">
                <p>Explore Austin from Lady Bird Lake by embarking on a kayak adventure that showcases the Congress Ave Bat Bridge, the downtown skyline and Barton Springs.  No paddling experience is required for participants who have the choice to paddle in a single, double or triple seated kayak. Taking in a tour of Austin from the water is a unique and fun way to learn about the city while experiencing some of the city’s most scenic and aesthetically impressive vantage points.</p>
                <ul>
                  <li>Location: Begins at hotel/conference venue but activity takes place in Lady Bird Lake</li>
                  <li>Duration: 60/90 min</li>
                  <li>Equipment: Kayaks, Paddles, Life Jackets</li>
                </ul>
              </div>
              <div class="col col-4">
                <img alt="Swift Fit Events Kayaking" height="100%" src="{{ "/img/catalog-11.png" | relURL }}" width="100%">
              </div>
            </div>
            <h3>TRX</h3>
            <div class="row gutters">
              <div class="col col-8">
                <p>TRX is a full-body strength workout that utilizes a person's own body weight instead of relying on machines or dumbbells. ... "Although this is whole-body suspension training, you use your core for all 45 minutes of the class.</p>
                <ul>
                  <li>Location: Hotel/conference venue - Green space or terrace if weather permits</li>
                  <li>Duration: 30/60 min</li>
                  <li>Equipment: Suspension straps</li>
                </ul>
              </div>
              <div class="col col-4">
                <img alt="Swift Fit Events TRX" height="100%" src="{{ "/img/catalog-12.png" | relURL }}" width="100%">
              </div>
            </div>
            <h3>Kettlebell</h3>
            <div class="row gutters">
              <div class="col col-8">
                <p>Build lean muscle and improve your cardio health while effectively working your glutes and gut! This class format uses progressive interval training, where we increase the cycle length as the fitness improves, thus gaining fast results on strength endurance and conditioning. Kettlebell training improves coordination and teaches your body to use the entire kinesthetic chain to improve athletic and sports performance. Build a leaner YOU with the Kettlebell!</p>
                <ul>
                  <li>Location: Hotel/conference venue or a green space/terrace if weather permits</li>
                  <li>Duration: 30/60 min</li>
                  <li>Equipment: Kettlebell weights</li>
                </ul>
              </div>
              <div class="col col-4">
                <img alt="Swift Fit Events Kettlebell" height="100%" src="{{ "/img/catalog-13.png" | relURL }}" width="100%">
              </div>
            </div>
            <h2>Mindful Movement & Meditation</h2>
            <h3>Mindful Movement</h3>
            <div class="row gutters">
              <div class="col col-8">
                <p>These classes are aimed at supporting participants in cultivating a deeper mind-body awareness. The aim here in not intense physical exercise, per-se, but more so movement to encourage balance, inner peace, clarity, and increased mental well-being. Appropriate for all levels from beginner to advanced.</p>
                <ul>
                  <li>Location: Hotel/conference venue or a green space/terrace if weather permits</li>
                  <li>Duration: 60 min</li>
                  <li>Equipment: Mats</li>
                </ul>
              </div>
              <div class="col col-4">
                <img alt="Swift Fit Events Mindful Movement" height="100%" src="{{ "/img/catalog-14.png" | relURL }}" width="100%">
              </div>
            </div>
            <p><strong>Yoga:</strong> This style yoga will be more gentle than the group fit component. Here participants will engage in Yin or Restorative Yoga. Yin Yoga is a slow-paced style of yoga as exercise with asanas (postures) that are held for longer periods of time.</p>
            <p><strong>Tai Chi:</strong> Tai chi is an ancient Chinese tradition that, today, is practiced as a graceful form of exercise. It involves a series of movements performed in a slow, focused manner and accompanied by deep breathing. Often described as meditation in motion, tai chi promotes serenity through gentle, flowing movements.</p>
            <p><strong>Kundalini Yoga:</strong> Kundalini Yoga uses breath, movement and focus to energize the body while supporting strength and balance of the immune and glandular systems. Dynamic classes promote emotional well-being, mental clarity and stress relief. Appropriate for all abilities. This will be the most dynamic of all three mindful movement offerings.</p>
            <h3>Meditation</h3>
            <div class="row gutters">
              <div class="col col-8">
                <p>Swift Fit’s Meditation offerings are appropriate for all levels. Our meditation classes are perfect for stress management and encourage the busy, on the go professional to unplug for a moment and get their energy and mind centered so they can take on the day. Meditation classes can be 30 or 60 minutes.</p>
                <ul>
                  <li>Location: Hotel/conference venue or a green space/terrace if weather permits</li>
                  <li>Duration: 15/30/60 min</li>
                  <li>Equipment: None</li>
                </ul>
              </div>
              <div class="col col-4">
                <img alt="Swift Fit Events Meditation" height="100%" src="{{ "/img/catalog-15.png" | relURL }}" width="100%">
              </div>
            </div>
            <p><strong>Meditation Class:</strong> This class is designed to bring participants through a particular meditation. Meditations will be designed based off of the client’s goals. Unless otherwise specified by the client, meditation classes will be guided meditations where the students are guided by the teachers voice, set to soothing background music.</p>
            <p><strong>Full Meditation Class:</strong> Meditation + Self-Reflection: Just like the meditation class, but with an added bonus at the end! Once the meditation is complete, students will be given the space to dive into self-reflection through guided journaling. Journaling combined with meditation is proven to open up creativity and promote deep clarity. 
            <em>*Due to the nature of this class, it can only be offered as a 60 minute option.</em></p>
            <p><strong>Relaxing Sound Bath:</strong> This is a sound meditation. Students will be invited to sit in a meditative posture or to lay down while listening to the soothing sounds of a variety of sound healing tools: like crystal singing bowls, gongs, and chimes. Students will typically be guided in a light breath- work exercise to prepare the body and mind at the beginning of class and then will be guided into deep relaxation.  Benefits of a sound bath are: Reduced stress and anxiety, decreased blood pressure, quiets mental chatter, increased focus, and promotes increased health.</p>
            <p><strong>Breathwork / Pranayama:</strong> The breath is a fundamental tool when it comes to mindfulness. Pranayama is defined as an ancient technique focused on the regulation of the breath through certain exercises. The average rate of breathing for most people is about sixteen times per minute. When the rate of breathing increases, or if it becomes rapid and irregular, the mind also becomes disturbed and erratic. This class will give students practical breathing techniques to apply in daily life. Students will learn and experience how to manipulate the breath into different patterns to affect their mental state in a variety of positive ways.</p>
            <h3>Mindset Workshops</h3>
            <div class="row gutters">
              <div class="col col-8">
                <p>Swift Fit Workshops are designed to inspire and promote transformational change. Participants will be educated on a particular topic and then given the tools to look within.  All workshops will be structured in a similar manner: Begin with Education and Inspiration, Self-Reflection, Mindful Movement or Pranayama to support inner work and Closing. If the client desires, partner or group work and be built in at no additional charge. Workshops are offered at 60 or 120 minutes.</p>
                <ul>
                  <li>Location: Hotel/conference venue</li>
                  <li>Duration: 60/120 min</li>
                  <li>Equipment: Whiteboard, notebooks (optional)</li>
                </ul>
              </div>
              <div class="col col-4">
                <img alt="Swift Fit Events Mindset Workshops" height="100%" src="{{ "/img/catalog-16.png" | relURL }}" width="100%">
              </div>
            </div>
            <p><strong>Workshop topics</strong></p>
            <ul class="listing">
              <li>Mindset Reset: Reprogramming Your Mental Patterns </li>
              <li>Find Your Light </li>
              <li>Goal Setting </li>
              <li>Become an Opportunity Magnet </li>
              <li>Listening / Empathy </li>
              <li>Work Life Balance </li>
              <li>Nutrition</li>
            </ul>
            <h2>Keep Austin Weird</h2>
            <div class="row gutters">
              <div class="col col-8">
                <p>Not your typical wellness offerings! With Swift Fit’s Keep Austin Weird offerings, participants will be given the opportunity to experience wellness on a whole new level. These offerings will be much more experiential, and have a more “New Age” vibe to them. Expect words like “Energy, Vibration, Universe, Cosmic, and Love” to be thrown around like confetti in these classes.</p>
                <ul>
                  <li>Location: Hotel/conference venue </li>
                  <li>Duration: 15/30/60/90 min</li>
                  <li>Equipment: Various materials depending on activity</li>
                </ul>
              </div>
              <div class="col col-4">
                <img alt="Swift Fit Events Keep Austin Weird" height="100%" src="{{ "/img/catalog-17.png" | relURL }}" width="100%">
              </div>
            </div>
            <h3>Sacred Ceremonies</h3>
            <p>Students will be seated on the floor similar to a yoga class. Ceremonies will involve some form of movement (typically Kundalini, Pranayama or both). Ceremony structure will include self-reflection, movement, healing, chanting, group share, and more. All Ceremonies set to music throughout. Offered as 60 or 90 minutes.</p>
            <p><strong>Themes</strong></p>
            <ul>
              <li>Magnetic Abundance</li>
              <li>Full Moon Circles</li>
              <li>Cacao Ceremony</li>
              <li>Women’s Circle</li>
              <li>Theme tailored to Customer’s desire</li>
            </ul>
            <h3>Energy Healing</h3>
            <p>In these sessions, participants only have to show up and receive. No work or effort required. Lay back and receive the healing vibes. Offered as 30 or 60 minute.</p>
            <p><strong>Reiki:</strong> Reiki is a Japanese technique for stress reduction and relaxation that also promotes healing. It is administered by "laying on hands" and is based on the idea that an unseen "life force energy" flows through us and is what causes us to be alive. If one's "life force energy" is low, then we are more likely to get sick or feel stress, and if it is high, we are more capable of being happy and healthy.</p>
            <p>A treatment feels like a wonderful glowing radiance that flows through and around you. Reiki treats the whole person including body, emotions, mind and spirit creating many beneficial effects that include relaxation and feelings of peace, security and wellbeing. Many have reported miraculous results.</p>
            <p>Reiki is a simple, natural and safe method of spiritual healing and self-improvement that everyone can use. It has been effective in helping virtually every known illness and malady and always creates a beneficial effect. It also works in conjunction with all other medical or therapeutic techniques to relieve side effects and promote recovery. Reiki Sessions will be set to music.</p>
            <p><strong>Light Language:</strong> Light Language is multidimensional language that is understood by all on a soul level. It is channeled Dynamic Frequency Encodings of Sound and Light. It adjusts to the resonance of each person’s vibrational needs in the moment; initiating clearing, balancing, activation, and alignment with a new vibration of Wellbeing</p>
            <p>In these sessions, students will listen to the practitioner speak light language while playing crystal singing bowls. Some classes may be set to music.</p>
            <h3>Mantra Magic and Ecstatic Dance</h3>
            <p>In these offerings students will be opened up to a world of pure bliss through the technology of sound.</p>
            <p><strong>Mantra Magic:</strong> In this offering, participants will learn a set of mantras and will be invited to chant together to experience the healing and powerful affects group chanting brings. This offering promotes connection, bliss, and expanded states of overall well-being</p>
            <p><strong>Ecstatic Dance:</strong> This is a form of dance in which the dancers, sometimes without the need to follow specific steps, abandon themselves to the rhythm and move freely as the music takes them, leading to trance and a feeling of ecstasy. The effects of ecstatic dance begin with ecstasy itself, which may be experienced in differing degrees. Dancers are described as feeling connected to others, and to their own emotions. The dance serves as a form of meditation, helping people to cope with stress and to attain serenity.</p>
            <h3>Private 1:1 Sessions</h3>
            <p>Practitioners of different arts will be available to meet with participants privately. All of these offerings are designed to bring deeper clarity and a stronger sense of self to clients.</p>
            <p><strong>Tarot:</strong> Tarot readings are a powerful form of divination that use an ancient deck of cards to help you find answers to your most important questions about love, relationships, your career, finances and more.</p>
            <p><strong>Astrology:</strong> Get deeper insight into who you are, how to overcome challenges and illuminate your strengths through a birth chart reading.</p>
            <p><strong>Aura Photographer:</strong> Through a special camera, your aura will be captured through film and then read by a specialist to give you deeper insight into your energy at the current moment.</p>
            <h2>Wellness DIY Stations</h2>
            <div class="row gutters">
              <div class="col col-8">
                <p>These offerings will be at stations or tables rather than a class. Participants can visit a table and speak with an expert, receiving guidance on how to create their own wellness care through essential oils, crystals, and herbs.</p>
              </div>
              <div class="col col-4">
                <img alt="Swift Fit Events Wellness DIY Stations" height="100%" src="{{ "/img/catalog-18.png" | relURL }}" width="100%">
              </div>
            </div>
            <p><strong>Crystals:</strong> Learn about the healing properties of crystals and which ones will support your needs.  Create your own crystal healing pack and bring to bring home.</p>
            <p><strong>Essential Oils:</strong> Make your own essential oil blend based off of your particular needs</p>
            <p><strong>Herbal Remedies:</strong> Create your own herbal tea bags. Choose from a variety of different herbs to support your needs.</p>
            <h2>Massages</h2>
            <div class="row gutters">
              <div class="col col-8">
                <p><strong>Neck/Back:</strong> Concentrates on the neck, shoulder, and back. Will ease stiffness and sore muscles</p>
                <p><strong>Foot:</strong> Massages feet and calves. Will improve circulation and alleviate in-flight swelling</p>
                <p><strong>Hand/Arm:</strong> Relieves stress, loosens stiff muscles and improves circulation</p>
                <p><strong>Table:</strong> Fully clothed massage that concentrates on the neck, shoulder and back. Eases stiffness and sore muscles.</p>
                <ul>
                  <li>Location: Hotel/conference venue</li>
                  <li>Duration: Table 30/45/60 min, all others 15/20/30 min</li>
                  <li>Equipment: Massage table or chair</li>
                </ul>
              </div>
              <div class="col col-4">
                <img alt="Swift Fit Events Massages" height="100%" src="{{ "/img/catalog-19.png" | relURL }}" width="100%">
              </div>
            </div>
            <h2>IV Vitamin Recovery</h2>
            <div class="row gutters">
              <div class="col col-8">
                <p>Hydration IV - can improve hydration, combat fatigue, boost immunity, increase energy and aid with recovery.  The effects and benefits can potentially last for days and even weeks. It contains B-Complex with extra B5 & B6, it also has Vitamin C, Calcium, and Taurine. IVs are safe and effective and administered by registered nurses.</p>
                <p>B12 Shots - can help increase energy & metabolic rate as well as regulate mood, appetite and sleep.</p>
                <ul>
                  <li>Location: Hotel/conference venue or can be taken mobile</li>
                  <li>Duration: IV Drips are 15-20 min for 500ml bag and 30-40 min for 1L bag</li>
                  <li>Equipment: IV Drips and Registered Nurse</li>
                </ul>
              </div>
              <div class="col col-4">
                <img alt="Swift Fit Events IV Vitamin Recovery" height="100%" src="{{ "/img/catalog-20.png" | relURL }}" width="100%">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{{ partial "cta" .}}
</div>
{{ end }}
{{ define "footer"}} {{ partial "footer.html" .}} {{ end }}
