{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}

{{ define "main"}}
<div id="main">
  <div id="hero" class="wrap">
    <h1>{{.Title }}</h1>
      <p>{{.Params.description}}</p>
  </div>

  <section id="services">
    <div class="page-content">
      <div class="row gutters">
        <div class="col col-6 item">
          <img alt="Ranger Running Event Management" height="100%" src="{{ "/img/ranger_eventmgmt.jpg" | relURL }}" width="100%">
          <h3>Event Management &amp; Insurance</h3>
          <p>Our Rangers do all the work to make sure your running event goes off without a hitch. No two events are exactly alike and we pride ourselves to make sure your event is exactly how you envision it. Our Rangers will work with you to make your event memorable. In the meantime, the list below is just a sampling of what we provide around event management:
</p>
          <ul>
            <li>Law enforcement and medical support coordination</li>
            <li>Event insurance and sanctioning</li>
            <li>Venue permitting</li>
            <li>Post event party</li>
            <li>Sponsor expo</li>
            <li>Start/Finish area</li>
            <li>Participant staging</li>
            <li>Parking</li>
            <li>Hospitality</li>
            <li>Live music entertainment</li>
            <li>Venue selection process</li>
            <li>Venue maps</li>
            <li>Inventory management</li>
            <li>Overall event run of show</li>
            <li>Sponsor planning and activation</li>
            <li>Application/waiver creation</li>
            <li>Brochure, flyer and poster creation</li>
            <li>Race website creation</li>
            <li>Promotional products</li>
            <li>T-shirts</li>
            <li>Assistance with promotions, contests, and giveaways</li>
          </ul>
        </div>
        <div class="col col-6 item">
          <img alt="Ranger Running Course Planning" height="100%" src="{{ "/img/ranger_courseplanning.png" | relURL }}" width="100%">
          <h3>Course Creation &amp; Management</h3>
          <p>The course for your running event will be customized just for you and your group. We can tailor the course based on your input or you can simply leave it up to us. Courses are optimized based on the experience you're looking for and the size of your group. By including special touches with our help, we can make a unique event that your team will love. Here are a few of the items that can be customized:</p>
          <ul>
            <li>Course design and logs (turn by turn mileage increments)</li>
            <li>Course permitting (local, county, state)</li>
            <li>Course maps, directional signage, and mile markers</li>
            <li>Traffic control </li>
            <li>Communications</li>
            <li>Support planning (water stops, SAG, foot marshals)</li>
            <li>Staging area design, setup and management</li>
            <li>Finish line set-up with display clock and tape</li>
            <li>Custom timing solutions</li>
            <li>Full computerized results </li>
            <li>Complete manual results</li>
            <li>Top 10 men &amp; top 10 women</li>
            <li>Top 3 men &amp; top 3 women</li>
            <li>Professional race announcer</li>
            <li>Deluxe or generic race numbers</li>
            <li>Awards &amp; medals </li>
            <li>Portable toilets</li>
            <li>Water, replacement drink and cups</li>
            <li>Refreshments (bananas, oranges, and granola bar)</li>
            <li>Tables, chairs and tents</li>
            <li>Online registration setup and management</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
{{ partial "cta" .}}
</div>
{{ end }}
{{ define "footer"}} {{ partial "footer.html" .}} {{ end }}
