body {
  font-family: 'Maison Neue', Helvetica, Arial, sans-serif;
  color: rgba(29, 29, 29, .7);
  font-size: 18px;
  line-height: 32px;
}

h1.title, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Maison Neue', Helvetica, Arial, sans-serif; }

h1 {
  font-weight: 300;
  color: #212121;
}

section h1 {
  font-size: 80px;
  letter-spacing: .01em;
  line-height: 1.4em;
}


h3 {
  font-weight: 300;
  letter-spacing: 0.05em;
}

button, .button {
  font-family: 'Maison Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding-top: 10px;
  background-color: #FF4500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border-radius: 2px;
  padding-left: -10px;
}

button:hover, .button:hover {
  background-color: #FF2800;
}


a {
  color: #FF4500; /*#1eabf2*/
  text-decoration: none;
}

a:hover {
  color: #FF2800;
}

a svg:hover #facebook,
a svg:hover #instagram {
  fill: #fff;
}

blockquote {
  font-size: 32px;
  line-height: 40px;
  margin: 40px 0;
  color: #FF4500; /*#1eabf2*/
  font-weight: 100;
}

#top {
  border-bottom: none;
  display: block;
  padding: 24px 36px;
}

#top #top-brand {
  float: left;
  margin-top: 2px;
  line-height: 40px;
}

#top ul {
  justify-content: flex-end;
  list-style-type: none;
  padding-left: 0;
}

#top #top-nav-main {
  padding-left: 0px;
  border-left: none;
  line-height: 40px;
}

#top #top-nav-main li {
  font-weight: 500;
  margin-left: 40px;
  margin-right: 0;
}

#top #top-nav-main a {
  color: #212121;
}

#top-brand a {
  font-family: 'Trim', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  color: #212121;
  letter-spacing: 0.05em;
}

#top-nav-main .right {
  margin-left: auto;
}

#top-brand img {
  vertical-align: middle;
  max-height: 24px;
  margin-right: 12px;
  margin-top: -6px;
}

#top-nav-main a {
  font-size: 12px;
  color: #212121;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

#top #top-nav-main a:hover {
  text-decoration: none;
}

#wrapper {
  min-height: calc(100vh - 600px); /* sticky footer */
}

#main {
  padding: 0 40px;
  max-width: 100%;
}

#hero.logo {
  /* background: url(/img/texas.svg) no-repeat; */
  background-size: contain;
  height: 332px;
  margin-top: 180px;
  margin-bottom: 320px;
  background-position: 48% 50%;
}

#hero img {
  height: 180px;
}

.page-content {
  padding: 160px 80px;
  max-width: 1800px;
  margin: 0 auto;
}

#testimonial {
  text-align: center;
}

#cta {
  margin: 0 auto;
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 40px;
  background-color: #E8E8E8;
  max-width: 748px;
  border-radius: 2px;
}

#cta h3 {
  margin-bottom: 0px;
}

#cta .button {
  margin-left: 20px;
}

.page-content p {
  margin-top: 16px;
}



#hero h1 {
  font-family: 'Trim';
  letter-spacing: 0.05em;
  font-size: 60px;
  margin: 0 auto;
  font-weight: 700;
  padding-top: 20px;
  text-transform: uppercase;
}

#hero.logo h1 {
  line-height: 1em;
}
#hero .description {
  font-family: 'Trim Mono Web', monospace, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 24px;
  font-weight: 100;
  line-height: 24px;
  color: #313439;
  padding-top: 8px;
}

#hero.blog h1 {
  font-family: 'Maison Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 0;
  margin-top: 60px;
  text-transform: none;

}

.post-time {
  font-family: 'MaisonNeue-Mono';
  text-transform: uppercase;
  font-size: 12px;
}

#post p {
  color: rgba(29, 29, 29, .7);
  letter-spacing: 0.01em;
}

.post-info {
  color: rgba(29, 29, 29, .4);
  margin-bottom: 40px;
}

time {
  font-size: 12px;
}

time.date:before {
  content: '\00B7';
  margin-right: 0.6em;
}

#hero p {
  font-size: 22px;
  line-height: 32px;
  padding-top: 0px;
  margin-top: 12px;
}
#hero p:before {
  background: none;
}

#content {
  margin: auto;
  margin-bottom: 128px;
  max-width: 680px;
  font-size: 18px;
  line-height: 32px;
}

#posts {
  text-align: left;
  max-width: 1200px;
}

#posts h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 300;
  margin: 20px 0;
}

.post-snippet {
  margin: 80px auto;
  max-width: 740px;
}

#posts h2 a {
  color: #212121;
}

#posts h2 a:hover {
  color: #212121;
  opacity: 0.7;
  text-decoration: none;
}

#video-background {
  position: relative;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  margin-top: 40px;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  text-align: center;
}

#map-container {
  margin-top: 40px;
  margin-bottom: 40px;
  max-height: 844px;
}
#map {
  height: 844px;
}

.main-content {
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 80px;
}

#featured-image img {
  padding-bottom: 40px;
}

#post-box {
  max-width: 740px;
  margin: auto;
  padding: 0;
}

#services .item {
  padding: 0 40px;
}

#services img {
  margin-bottom: 40px;
}

input, select, textarea {
  height: 48px;
  font-size: 1em;
  line-height: 24px;
  margin-bottom: 12px;
}

textarea {
  height: auto;
}

footer {
  margin-top: 140px;
  height: 600px;
  width: 100%;
}

#footer {
  text-align: center;
  font-size: 16px;
  display: block;
  margin: 0 auto;
  background: url(/img/camo.svg) repeat;

  background-color: #212121;
}
  #footer ul {
    margin: 0px;
    list-style: none;
  }
  #footer ul li {
    margin: 0 10px;
    display: inline;
  }
  #footer .social {
  margin-top: 300px;
  }
  a svg:hover {
    fill: #fff;
  }
  #footer .brand {
  margin-top: 100px;
  margin-bottom: 80px;
  }
  p.name {
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  letter-spacing: 0.2em;
  margin-bottom: 0px;
  }
  p.location {
    font-family: 'MaisonNeue-Mono';
    color: #8F8F8F;
    font-size: 12px;
    letter-spacing: 0.06em;
  }

@media (max-width: 768px) {
  section h1 {
    font-size: 32px;
  }

  #top #top-nav-main li {
    margin-left: 0px;
  }

  #hero {
    margin-top: 60px;
  }

  #hero img {
    height: 140px;
  }

  #hero.logo {
    padding-top: 40px;
    padding-left: 0;
    padding-right: 0;
    background-position: 30% 50%;
    background-size: 320px 283px;
    margin-top: 80px;
    margin-bottom: 160px;
  }

  #hero.logo h1 {
    font-size: 60px;
    line-height: 56px;
    padding-top: 16px;
  }

  #hero .description {
    line-height: 30px;
    padding-top: 12px;
  }

  #hero h1 {
    font-size: 40px;
  }

  #posts h2 {
    font-size: 36px;
  }

  #main {
    padding: 0 20px;
  }
  #content {
    padding-left: 20px;
    padding-right: 20px;
  }

  .main-content {
    padding: 0 20px;
  }


  .page-content {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .page-content p {
    margin-top: 0px;
  }

  #map {
    height: 334px;
  }

  #posts {
    margin-top: 0px;
  }

  #services .page-content {
    padding-top: 0px;
  }

  #services .item {
    padding: 0;
  }

  .post-snippet {
    margin: 40px auto;
  }

  #cta {
    padding: 20px 20px;
    text-align: center;
  }

  #cta h3 {
    font-size: 18px;
  }

  .button {
    width: 100%;
  }

  #cta .button {
    margin: 0 auto;
    margin-top: 12px;
  }

  #footer {
    padding: 0 20px;
  }

  p.location {
    font-size: 12px;
  }
}
