  <footer id="footer">
    <div class="social">
      <ul>
        <li>
          <a href="https://instagram.com/{{.Site.Params.instagram}}"><img alt="Instagram" height="24" src="{{ "/img/instagram.svg" | relURL }}" width="24"></a>
        </li>
        <li>
          <a href="https://facebook.com/{{.Site.Params.facebook}}"><img alt="Instagram" height="24" src="{{ "/img/facebook.svg" | relURL }}" width="24"></a>
        </li>
      </ul>
    </div>
    <div class="brand">
      <p class="name">Ranger Running Events</p>
      <p class="location">30&deg; 16&prime; 0.9336&Prime; N&nbsp;&nbsp;97&deg; 45&prime; 1.8684&Prime; W</p>
    </div>
    <!-- <nav>
      <ul>
        <li><span>Ranger Running Events</span></li>
        <li>
          <a href="/blog/">Blog</a>
        <li>
          <a href="/about/">About</a>
        </li>
        <li>
          <a href="/contact/">Contact</a>
        </li>
        <li>
          <a href="https://twitter.com/{{.Site.Params.twitter}}">Twitter</a>
        </li>
      </ul>
    </nav> -->
  </footer>
