{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<div id="main">
  <div id="hero" class="logo">
    <img alt="Ranger logo" height="48" src="{{ "/img/rangerfox.svg" | relURL }}" width="216">
    <h1>{{.Title}}</h1>
    <div class="description">{{.Description}}</div>
  </div>

  <div id="video-background">
    <video autoplay loop muted plays-inline>
      <source src="https://player.vimeo.com/external/158148793.hd.mp4?s=8e8741dbee251d5c35a759718d4b0976fbf38b6f&profile_id=119&oauth2_token_id=57447761" type="video/mp4">
    </video>
  </div>
  <section id="about-ranger">
    <div class="page-content">
      <div class="row gutters">
        <div class="col col-6 item">
          <h1>Running with <br> Ranger</h1>
        </div>
        <div class="col col-6 item">
          <p>Bacon ipsum dolor amet chuck flank tail pancetta short ribs biltong, jowl cupim hamburger boudin shankle shank ham hock bacon. Pork loin turkey t-bone flank chicken alcatra, shoulder ham hock. Beef ribs meatloaf drumstick, tail fatback picanha sausage. Pig pork loin short loin drumstick bresaola ham hock cow landjaeger short ribs pastrami hamburger tail biltong kielbasa. Turducken strip steak tail kevin. Venison tail landjaeger turkey tenderloin andouille meatloaf.</p>
        </div>
      </div>
    </div>
  </section>
  <section id="gallery">
    <div class="row gutters">
      <div class="col col-4 item">
        <img alt="Austin Texas" height="100%" src="{{ "/img/ranger_austin.jpg" | relURL }}" width="100%">
      </div>
       <div class="col col-4 item">
        <img alt="Downtown Austin Texas" height="100%" src="{{ "/img/ranger_skyline.jpg" | relURL }}" width="100%">
      </div>
       <div class="col col-4 item">
        <img alt="Austin Beer" height="100%" src="{{ "/img/ranger_beer.jpg" | relURL }}" width="100%">
      </div>
    </div>
  </section>
  <section id="testimonial">
    <div class="page-content">
      <div class="row gutters">
        <div class="col col-12 item quote">
          <h1>&ldquo;Most fun I've had in years&rdquo;</h1>
          <p>&mdash; Peter Parker, CEO Tallest Point</p>
        </div>
      </div>
    </div>
  </section>
  {{ partial "cta" .}}
</div>


  <!-- <div id="action-buttons">
    <a class="button primary big" href="https://github.com/jeblister/kube/releases" onclick="_gaq.push(['_trackEvent', 'kube', 'download']);">Download</a>
  </div> -->
  <!-- <div id="kube-features">
    <div class="row gutters">
      <div class="col col-4 item">
        <figure>
          <img alt="Baseline" height="48" src="{{ "/img/kube/icon-baseline.png" | relURL }}" width="48">
        </figure>
        <h3>Horizontal Rhythm</h3>
        <p>In Kube horizontal rhythm based on a 4px vertical grid is something that we are truly proud of.</p>
      </div>
      <div class="col col-4 item">
        <figure>
          <img alt="Typography" height="48" src="{{ "/img/kube/icon-typo.png" | relURL }}" width="48">
        </figure>
        <h3>Typography</h3>
        <p>We obsess over typography, and it shows throughout Kube.</p>
      </div>
      <div class="col col-4 item">
        <figure>
          <img alt="Minimalism" height="48" src="{{ "/img/kube/icon-minimalism.png" | relURL }}" width="48">
        </figure>
        <h3>Minimalism</h3>
        <p>We strongly believe in minimalism as a general concept as well as a practical approach to everyday life.</p>
      </div>
    </div>
    <div class="row gutters">
      <div class="col col-4 item">
        <h4>Mobile-first Design</h4>
        <p>Every element in kube is mobile-first and fully embraces latest and greatest tech.</p>
      </div>
      <div class="col col-4 item">
        <h4>Cross-browser</h4>
        <p>Kube works in all modern browsers, both desktop and mobile, including latest Chrome, Firefox, Safari, Opera, IE and Edge.</p>
      </div>
      <div class="col col-4 item">
        <h4>License</h4>
        <p>Kube licensed under <a href="https://opensource.org/licenses/MIT">MIT</a>.<br>
      Kube Framework is absolutely free for personal or commercial use.</p>
    </div>

  </div>
</div>

</div> -->
{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}
